.title Public Profiles
- each provider in w.config.auth.providers
	- var auth = w.profileUser.authentication_for(provider.code)
	- if(auth)
		.provider(id='provider_' + provider.code)
			- var url = w.profileUser.provider_attribute(provider.code, 'profile')
			a.link(href=(url||'#'))
				.title= provider.name
				div(class="logo " + provider.code)
			- var name = w.profileUser.provider_attribute(provider.code, 'name')
			.known_as known as
			.known_as_name #{name || '(no name)'}
			- if(isOwnProfile && name && name.length > 2)
				button.minimal.choose_name use this name
