[submodule "nodejs/vendor/Socket.IO"]
	path = nodejs/vendor/Socket.IO
	url = git://github.com/danielbeardsley/Socket.IO.git

[submodule "nodejs/vendor/Socket.IO-node"]
	path = nodejs/vendor/Socket.IO-node
	url = git://github.com/danielbeardsley/Socket.IO-node.git
