- if(w.footer)
	#footer_container
		#footer.embed
			.left Chat powered by
				a(href='http://wompt.com') Wompt
			.right
				a(href="/terms", title="View terms of use") Terms
				=" | "
				a(href="/privacy", title="View privacy policy") Privacy
			.clear