- if(w.footer)
	#footer_container
		#footer
			.left Wompt &nbsp;&copy;&nbsp; #{(new Date()).getFullYear()}
			!= w.config.facebook.showLike ? partial('partials/_fb_like.html') : ''
			.right
				a(href="/terms", title="View terms of use") Terms
				=" | "
				a(href="/privacy", title="View privacy policy") Privacy
			.clear