- if(w.footer)
	#footer_container
		#footer.regular
			.left Wompt &nbsp;&copy;&nbsp; #{(new Date()).getFullYear()}
			.right
				a(href="/terms", title="View terms of use") Terms
				=" | "
				a(href="/privacy", title="View privacy policy") Privacy
				span#contact_us
					=" | "
					a(href="/contact_us", title="Contact Wompt") Contact
			.clear