script(type='text/javascript')
	var pairs = window.location.hash.substr(1).split('&'),
	opt={}, sides;
	$.each(pairs,function(i,pair){
		sides = pair.split('=');
		opt[sides[0]] = sides[1];
	})
	$('body').css('color', '#' + opt.c || '444');
