!!! 5
html("xmlns\u003Afb"="http://www.facebook.com/2008/fbml", xmlns="http://www.w3.org/1999/xhtml")
	head
		!=partial('layouts/_head')
		-if(w.css_file)
			link(type='text/css',src=w.css_file)
	body.hide_userlist.embed.small(id=w.page_name)
		#fb-root
		.main
			!{body}
		- if(w.jquery)
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", type="text/javascript")
			!=partial('layouts/_style_iframe')
		- if(w.page_js)
			!{assetHelpers.assetGroupTag(w.page_js, w.user && w.user.doc)}
			script(type='text/javascript')
				UI.input = UI.input || {};
				UI.input.disableAutoExpand = true;
		- if(w.channel && !w.ui.hideSocialLinks)
			script(type='text/javascript', src='http://connect.facebook.net/en_US/all.js#appId=181725458505189&xfbml=1',async='true')
		!=partial('shared/_ga')
