!!! 5
html("xmlns\u003Afb"="http://www.facebook.com/2008/fbml", xmlns="http://www.w3.org/1999/xhtml")
	head
		!=partial('layouts/_head')
	body(id=w.page_name)
		!=partial('layouts/_header')
		.main
			#bg
			!{body}
		!=partial('layouts/_footer')
		- if(w.jquery)
			script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js", type="text/javascript")
		- if(w.page_js)
			!{assetHelpers.assetGroupTag(w.page_js, w.user && w.user.doc)}
		!=partial('shared/_ga')
		#fb-root
