!!!
html
	head
		!=partial('layouts/_head')
	body
		!=partial('layouts/_header')
		.main
			!{body}
		!=partial('layouts/_footer')
		- if(w.jquery)
			script(src="/external/jquery-1.4.2.js", type="text/javascript")
		- if(w.page_js)
			!{assetHelpers.assetGroupTag(w.page_js, w.user && w.user.doc)}
		!=partial('shared/_ga')
