:javascript
	| var channel     = '#{channel}',
	|     session_id  = '#{session_id}';
#messages
#input
	input#message(name='message', type='text', style="width:300px;", disabled='true')
	br
	input#stats(type='button', value="Stats")
