#landing
	.left
		h2 Wompt is Chat
		.subtitle Try it free, no account required.
		form(method='post')
			input.text.big#channel(name='channel', type='text')
			input.submit#join(type='submit', value="Join Chat")
	.right
		form(method='post', action='/users/new')
			table
				tr.title
					td(colspan='2')
						h2 Sign Up
						.subtitle Wompt is free, now and forever.
				tr
					th
						label(for='sign_up_name') Name
					td
						input.text(id='sign_up_name', name='name', type='text')
				tr
					th
						label(for='sign_up_email') Email
					td
						input.text(id='sign_up_email', name="email", type='text')
				tr
					th
						label(for='sign_up_password') Password
					td
						input.text(id='sign_up_password', name="password", type="password")
				tr
					th
						label(for='sign_up_confirm_password') Confirm Password
					td
						input.text(id='sign_up_confirm_password', name="confirm_password", type="password")
				tr
					th
						label(for='sign_up_birth_day') Birthday (numbers)
					td
						input.text.inline_label.day(id='sign_up_birth_day', name="birth_day", title="day", type="text")
						input.text.inline_label.month(id='sign_up_birth_month', name="birth_month", title="month", type="text")
						input.text.inline_label.year(id='sign_up_birth_year', name="birth_year", title="year", type="text")
				tr
					th
					td
						a(href='/') Why do we need this?
				tr
					td
					td
						input.submit(type='submit', value="Sign Up")
	.clear