div {
	margin:0px;
	padding:0px;
}

body{
	background: #eee;
	background: url(/images/structure/noisy_grey.gif) repeat;
	color: #000;
	font-family: helvetica, arial, freesans, clean, sans-serif;
	font-size:1em;
	margin: 0px;
	min-height: 100%;
}

a{
	color:#286ea0;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}



h2{
	font-size:1.6em;
	margin:0 0 12px;
	padding:0;
}

h3{
	font-size:1.3em;
	margin:0 0 10px;
	padding:0;
}

.line .name {
	float:left;
	padding-right: 10px;
	color: #bbb;
}

.line .own.name {
	color: #a53;
}

.clear{ clear:both; }

#top{
	background:url(/images/structure/top_back.png) repeat-x top left;
	height:45px;
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
}

#toplinks {
	float:right;
	margin:0 5px 0 0;
	text-align:left;
	color:white;
	font-size:0.7em;
}

#toplinks .second_line{
	margin-top:1px;
}

#toplinks a{
	color:#ffcbb1;
	color:white;
}


#toplinks form input.checkbox{
	margin: 0px 3px 0px 0px;
	vertical-align:top;
}


#toplinks form input{
	margin: 2px 0.3em 0px 0px;
	font-size: 12px;
}

#toplinks input.name{
	width:200px;
}

#toplinks input.password{
	width:100px;
}


#top #logo{
	float: left;
	margin:5px 20px 0px 5px;
	color: rgba(255,255,255,0.8);
	font-size:1.3em;
	font-weight:700;
}

#logo a{
	text-decoration:none;
	color: rgba(255,255,255,0.5);	
}

#logo a img{
	border:0;
	vertical-align: middle;
	margin-right:10px;
}


#top .room_name{
	font-size: 1.3em;
}

.main {
	margin-top:55px;	
}

#leftbar {
	width: 230px;
	margin: 0 0;
	float:left;
}

/* ---  Chat Page ---*/
.main #input{
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	border-top: solid 1px #b63f1b;
	background-color:#ef6f2f;
	height:3em;
}

.main #input .container{
	position:absolute;
	right:0.2em;
	left:0.2em;
	bottom:0.2em;
	top:0.2em;
	font-size:1.5em;	
}

.main #input #message{
	position:absolute;
	border:1px solid #000;
	color: #300;
	padding:0px;
	width:100%;
	height:100%;
	font-size:1.5em;		
}

.main #messages{
	padding-bottom:50px;
	margin-right:100px;
}


#user_list{
	position:fixed;
	right:0px;
	top:45px;
	width:100px;
	min-height: 110px;
}

#user_list .title{
	text-align:center;
	padding:2px;
	color:#999;
	border-bottom:solid 1px #ccc;
}

#user_list .user{
	padding:4px 10px 1px 10px;	
}

/* === Footer === */
#footer {
	border-top: solid 1px #e6e6e6;
	border-bottom: solid 1px #f0f0f0;
	width: 100%;
	margin-top:20px;
	font-size: 0.9em;
	font-weight: 700;
	background: rgba(230,230,230,0.4);
	color: #555;
	padding: 15px 0px;
	text-align: center;
}

#footer a {
	color: #555;
}
