#accounts .main {
	max-width:978px;
	border-radius:4px;
}

.main a {
	color:#286ea0;
}

#accounts table#account_info{
	margin:1em;
	border-collapse:collapse;
	width:95%;
}

#accounts table th{
	width:200px;
}

#accounts table.vertical th{
	border-right:5px solid #eee;
	text-align:right;
}


#accounts table.top_aligned td,
#accounts table.top_aligned th{
	vertical-align:top;
}

#accounts table.top_aligned th{
	padding-top:.5em;
}

#accounts td{

}

#accounts td,
#accounts th{
	padding:.7em;
}

#accounts tr.spacer th{
	padding:.6em 0;
}

#accounts .code{
	font-family:Consolas, monospace;
	color:#888;
}

#accounts .title{
	text-align:center;
	border-bottom:5px solid #eee;
}

#accounts table#embed_form {
	table-layout: fixed;
	margin:0;
}

#accounts #embed_form .label{
	border:0;
}
