body{
	font-family: helvetica, arial, freesans, clean, sans-serif;
	font-size:1em;
	margin: 0px;
	min-height: 100%;
	background: #ff7936 top center repeat;
}

/* Text that is displayed on the base body background */
a,
body {
	color:white
}

#bg{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-image: data-url(/images/structure/striped_179_thick.png), data-url(/images/structure/striped_97_multi.png), data-url(/images/structure/striped_71_thin.png), data-url(/images/structure/striped_61x67_multi.png);
	z-index:-1;
	opacity:0.5;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

h1 { font-size:1.8em; }
h2 { font-size:1.5em; }
h3 { font-size:1.3em; }

h1, h2, h3, h4 {
	margin: .2em 0 .5em 0;
	font-weight: bold; 	
}

b { font-weight:bold; }

p {
	margin-top: .5em;
	margin-bottom: .5em;
}

ul, ol {
	margin-left:2em;
}

li, ul, ol{
	margin-top:0.5em;
	margin-bottom:0.5em;
}

ul { list-style-type: disc; }
ol { list-style-type: decimal; }

.left { float:left;  }
.right{ float:right; }
.clear{ clear:both; }

.main {
	margin-top:55px;	
}

tt{
	font-family: Consolas, 'Courier New', monospace;
}
strong{
	font-weight:bold;
}
