body{
	background-color: #eee;
	color: #000;
	font-family: helvetica, arial, freesans, clean, sans-serif;
	font-size:1em;
	margin: 0px;
	min-height: 100%;
}

a{
	color:#286ea0;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}


h2{
	font-size:1.6em;
	margin: 0 0 12px 0;
}

h3{
	font-size:1.3em;
	margin: 0 0 10px 0;
}

.left { float:left;  }
.right{ float:right; }
.clear{ clear:both; }

.main {
	margin-top:55px;	
}
