.main #input{
	position:fixed;
	bottom:2em;
	left:0px;
	right:380px;
	border-top: solid 1px #ccc;
	border-right: solid 1px #ccc;
	background-color:#ebebeb;
	height:3em;
}

.main #input .container{
	position:absolute;
	right:1.7em;
	left:10.4em;
	bottom:0.3em;
	top:0.5em;
	overflow:visible;
}

.main #input #own_name {
	position:absolute;
	width:9.5em;
	padding:.9em .4em 0 .4em;
	opacity:0.5;
	color:black;
}

#input #message{
	background-color:#fff;
}

#input #message,
#input #input_overlay{
	display:block;
	border:2px solid #ef6f2f;
	border-radius:10px;
	padding:.3em .5em;	
	font-size:1em;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:0;
}

#input #input_overlay{
	padding:.45em .7em;
	color:#888;
	background-color: #f0f0f0;
}

.main #messages{
	padding-bottom:0px;
	margin-right:381px;
	overflow: hidden;
	position:fixed;
	top:45px;
	left:0px;
	right:0px;
	bottom:5.2em;
	background-color:#f7f7f7;
}

#messages_scroller{
	position:absolute;
	width:100%;
	max-height:100%;
	overflow-y:auto;
	bottom: 0px;
}

#message_list {
	width: 100%;
}

.line td{
	padding-top: .5em;
	padding-bottom: .5em;
}

tr.line {
	background: data-url(/images/chat/line_back.png) top left repeat-x;
}

.name {
	width: 10em;
	padding-right: 10px;
	text-align:right;
	color: black;
	font-weight:bold;
}

.msg {
	padding-bottom:0.2em;	
}
