body, #chat #input{
	background:none;
}

#chat #user_list{
	top: 0px;
}

#chat #input{
	left:5px;
	right:0px;
	bottom:1em;
}

#top{
	left:auto;
	width:45px;
	right:5px;
	top:5px;
	background:none;
}
.hide_userlist #top{
	right:35px;
	background-color:rgba(255,255,255,0.7);	
}

#chat #wompt{
	display:inline;
	color:white;
}

a.popout{
	background:center no-repeat data-url(/images/popout_dark.png);
	height:25px;
	width:25px;
	display:block;
	position:absolute;
	right:8px;
	top:5px;
	z-index:2;
}
.hide_userlist a.popout{
	right:32px;
	background-color:rgba(255,255,255,0.5);
	padding:3px 5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}


#messages{
	-vendor-border-top-left-radius:10px;
}
.hide_userlist #top,
#messages{
	-vendor-border-bottom-left-radius:10px;
}

#user_list,
.hide_userlist #top,
.hide_userlist #messages{
	-vendor-border-bottom-right-radius:10px;
}

#user_list,
#user_list .title,
.hide_userlist #messages{
	-vendor-border-top-right-radius:10px;
}

#chat #content{
	-vendor-box-shadow:rgba(0,0,0,0.3) 0 0 5px;
	-vendor-border-radius:10px;
	top:5px;
	left:5px;
	right:5px;
	bottom: 4.4em;	
}

#share_links > .pad{
	padding-top:10px;
}

.hide_userlist #share_links{
	height:3.2em;
}

/* undo the CSS that hides the left side of the footer
  In embedd mode, we show all of the footer */
.hide_userlist #footer .left{
	display:block;
}
.hide_userlist #footer .right{
	float:right;
}

.hide_userlist #footer_container{
	left:5px;
}
