body.embed,
.embed#chat #input{
	background:none;
}

.embed#chat #user_list{
	top: 0px;
}

.embed#chat #input{
	left:5px;
	right:0px;
	bottom:1em;
}

.embed#chat #wompt{
	display:inline;
	color:white;
}

a.popout{
	background:center no-repeat data-url(/images/popout_dark.png);
	height:25px;
	width:25px;
	display:block;
	position:absolute;
	right:8px;
	top:5px;
	z-index:2;
}
.hide_userlist a.popout{
	right:32px;
	background-color:rgba(255,255,255,0.5);
	padding:3px 5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}

.embed #messages{
	-vendor-border-top-left-radius:10px;
	-vendor-border-bottom-left-radius:10px;
}

.embed #user_list,
.embed.hide_userlist #messages{
	-vendor-border-bottom-right-radius:10px;
}

.embed #user_list,
.embed #user_list .title,
.embed.hide_userlist #messages{
	-vendor-border-top-right-radius:10px;
}

.embed#chat #content{
	-vendor-box-shadow:rgba(0,0,0,0.3) 0 0 5px;
	-vendor-border-radius:10px;
	top:5px;
	left:5px;
	right:5px;
	bottom: 4.4em;	
}

.embed #share_links > .pad{
	padding-top:10px;
}

.embed.small #share_links{
	height:3.2em;
}

.embed.small #footer_container{
	left:5px;
}
