#footer_container {
	position:fixed;
	z-index:1;
	bottom:0px;
	left:0px;
	right:0px;
	height:2em;
	background-position:top left;	
}

#footer {
	padding:0.6em 1em;
	font-size: 0.9em;
	font-weight: 700;
}

#footer a{
	margin: 0px 5px;
}
