#top{
	position:relative;
	height:4em;
	z-index:1;
}

#toplinks {
	margin:5px 5px 0 0;
	float:right;
	font-size:12px;
}

#top #logo{
	position:absolute;
	left:0;
	top:0;
	margin:5px 20px 0px 8px;
	font-size:22px;
	font-weight:700;
}

#logo a.W{
	background:no-repeat top left data-url(/images/logo/white_30.png);
	padding-left: 38px;
	padding-bottom:5px;
	text-decoration:none;
}

#logo a img{
	border:0;
	vertical-align: top;
	margin-right:10px;
}

.invite {
	font-size:14px;
	vertical-align:middle;
	font-weight:normal;
}

.invite > .fb{
	top:2px;
	vertical-align:middle;
	height:28px;
}

#top .room_name{
	font-size: 1.3em;
}

.query.top{
	float:right;
	clear:right;
	width:150px;
	border:none;
	margin:7px 2px;
}
