#top{
	height:40px;
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
	z-index:2;
	background-position:top left;
}

#toplinks {
	float:right;
	margin:5px 5px 0 0;
	color:rgba(255,255,255,0.7);
	margin-top:10px;
	font-size:0.9em;
}

#toplinks a{
	color:white;
}


#top #logo{
	float: left;
	margin:5px 20px 0px 5px;
	font-size:1.6em;
	font-weight:700;
}

#logo a{
	background: data-url(/images/logo/white_30.png) no-repeat center left;
	padding-left: 38px;
	text-decoration:none;
	color: rgba(255,255,255,1);	
}

#logo a img{
	border:0;
	vertical-align: top;
	margin-right:10px;
}

.invite {
	font-size:14px;
	vertical-align:middle;
	margin-left:10px;
	font-weight:normal;
}

.invite > .fb{
	top:2px;
	vertical-align:middle;
	height:28px;
}

#top .room_name{
	font-size: 1.3em;
}
