.ico.fa{
	background-image:data-url(/images/external/facebook_32.png);
}

.ico.tw{
	background-image:data-url(/images/external/twitter_32.png);
}

.ico.go{
	background-image:data-url(/images/external/google_32.png);
}

.ico.gi{
	background-image:data-url(/images/external/github_32.png);
}

.ico{
	display:inline-block;
	height:28px;
	width:28px;
	background:transparent center no-repeat;
	vertical-align:middle;
	margin-bottom:1px;
	margin-right:2px;
}

#ding{
	background:no-repeat data-url(/images/icons/ding.png);
	background-position:3px 3px;
	height:25px;
	width:25px;
	overflow:hidden;
	cursor:pointer;
}

#ding.mute{
	opacity:0.3;
}

#ding.mentions{
	background-position:3px 3px;
}

#ding.mute,
#ding.all{
	background-position:-18px 3px;
}