#landing {
	margin: 0 auto;
	padding:0;
}

#landing .main {
	margin-top:0px;
	position:relative;
	min-height:100%;
}

#landing #top{
	background:none;
}
#landing #top #logo {
	display:none;
}

#landing .container{
	max-width:770px;
	margin:0 auto;
}

#landing .group {
	margin:0 auto;
}

/* One column */
#landing .narrow .group {
	max-width:390px;
	padding:0;
}

/* Shaded rounded box acts on cells when narrowed and groups otherwise */
#landing .narrow .cell,
#landing .group {
	position:relative;
	text-align:center;
	padding:20px;
	-vendor-border-radius:30px;	
}

/* Unstyle groups when narrowed */
#landing .narrow .group{
	background:none;
	margin-bottom:0px;
	padding:0px;
}


#landing .cell {
	width:350px;
	float:left;
	margin-left:30px;
}

#landing .narrow .cell,
#landing .cell.first {
	margin-left:0;
}

/* Chat Tails */
#landing .wide_tail,
#landing .narrow .narrow_tail{
	clear:both;
	position:relative;
	background:30px 0px no-repeat data-url(/images/structure/black_tail.png);
	width:100%;
	height:40px;
}

#landing .narrow > .wide_tail{
	display:none;
}


#landing .cell > div {
	text-align:center;
	padding:15px;
	position:relative;
}


/* Logo and "Wompt" */
#landing .wompt {
	padding-top:0;
	padding-bottom:10px;
	background:none;	
	font-size: 70px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.6) 0 0 25px;
	margin: 0 auto;
}

#landing .narrow .wompt{
	font-size:30px;
}

#landing .narrow .wompt > .company,
#landing .narrow .wompt > .sub{
	top:45px;
}

#landing .w {
	background: top center no-repeat url(/images/logo/white_100_shadow.png);
	margin:0 auto;
	width:135px;
	position:relative;
	height:135px;
}

#landing .wompt > .company ,
#landing .wompt > .sub {
	position:absolute;
	top:0.35em;
}

#landing .wompt > .sub {
	padding-left:75px;	
	font-weight: normal;
	text-align:left;
	right:0;
	left:50%;
}

#landing .wompt > .company {
	text-align:right;
	padding-right:75px;
	right:50%;
}

/* For individual 'Cells' */
#landing .title{
	font-size: 2em;
	margin-bottom:0.4em;
	color: #fff;
	text-shadow: rgba(0,0,0, 0.3) 0px 1px 8px;
}

#landing .subtitle{
	text-shadow: rgba(0,0,0, 0.3) 0px 1px 2px;
	margin-bottom:0.7em;
	font-size:1.3em;
	color:#fff;
}

#landing input.text {
	margin-left: auto;
	margin-right: auto;
	border:4px solid #e66d31;
	-vendor-border-radius:10px;
	-vendor-box-shadow: rgba(0,0,0,0.25) 0px 0px 2px;
	color:#555;
	font-size: 1.2em;
	width: 250px;	
	display: block;
	padding: 7px;
}


#landing input.submit {
	font-size: 1.1em;
	margin: 1em 0.5em;
	padding: 2px 10px 2px 10px;
}

#landing .channel_list h1{
	border-bottom: 2px solid rgba(255,255,255,0.1);
	padding-bottom: 0.2em;
}

#landing table.room_list {
	font-size:1em;
	width:95%;
	margin:0.2em auto;
}

#landing table.room_list td{
	text-align:right;
}

#landing table.room_list td.count{
	color:rgba(255,255,255,0.5);
	text-align:left;
	padding-left:1em;
}

/* New layout */
#slide_buttons a{
	display:inline-block;
	height:30px;
	width:30px;
	border-radius:15px;
	margin:0 20px;
	background:#e4e4e4;
	box-shadow:#c7c7c7 0 2px 4px;
}

#slide_buttons a.selected{
	background:#f7f7f7;
}

#landing .plainpage a{
	color:#444;
}

#landing .slides {
	height:300px;
	position:relative;
	overflow:hidden;
}

#landing .slide{
	position:absolute;
	left:-100%;
	top:0;
	width:100%;
	-webkit-transition:left 0.75s ease-in-out;
}

#landing .contents{
	max-width:900px;
	margin:0 auto;
	padding:0 30px;
}

#landing .slide .title{
	color:#444;
}

#landing .slide.future{
	left:100%;
}
#landing .slide.current{
	left:0;
}

#landing .spacer{
	height:5px;
	margin:30px 0;
	border-bottom:2px dashed #ddd;
}

#landing .container,
#landing .new_group.plainpage{
	width:auto;
	max-width:100%;
	border-radius:0;
}

#landing .new_group {
	margin:0 0 20px 0;
	border-radius:10px;
	text-align:center;
	background: #eee;
	padding:20px 0px;
}

#landing .split{
	margin:20px 0px;
}

#landing .thing{
	width:33%;
	border-left:#ccc solid 1px;
	border-right:white solid 1px;
	float:left;
	text-shadow:white 0 -1px 0px;
	color:#888;
	font-size:20px;
}

#landing .thing .text{
	margin:0px 20px;
}

#landing .first.thing{
	border-left:none;
}

#landing .last.thing{
	border-right:none;
}

#landing h1{
	text-shadow:white 0 -1px 0;
	margin:10px 20px;
}

.your_content_box{
	margin:20px 30px 10px 30px;
	border:5px dashed #ccc;
	padding:40px 20px;
	font-size:20px;
	color:#888;
	background:rgba(255,255,255,0.2);
}

.code{
	margin:20px 30px 10px 30px;
	padding:10px;
	font-size:12px;
	font-family:Consolas, "Courier New", monospace;
	text-align:left;
	color:#888;
}


#landing .wompt_embedd{
	position:relative;
	height:200px;
	padding:15px 25px;
}

#landing .hide{
	display:none;
}






