#landing{
	margin-top:0;
	padding-top:0;
}

#landing .main,
#landing > #top,
.full{
	min-width:978px;
}

#landing > #top{
	height:14px;
	overflow:visible;
}

#landing #top #logo {
	display:none;
}

/* ========================== */
/* Logo and "Wompt" */

#landing .wompt {
	font-size: 70px;
	font-weight: bold;
	text-shadow: rgba(0, 0, 0, 0.6) 0 0 25px;
	margin: 0 auto;
}

#landing .w {
	background: top center no-repeat url(/s/images/logo/white_100_shadow.png);
	margin:0 auto;
	width:135px;
	position:relative;
	height:135px;
}

#landing .wompt > .company ,
#landing .wompt > .sub {
	position:absolute;
	top:0.25em;
}

#landing .wompt > .sub {
	padding-left:75px;	
	font-weight: normal;
	text-align:left;
	right:0;
	left:50%;
}

#landing .wompt > .company {
	text-align:right;
	padding-right:75px;
	right:50%;
}

#landing h3{
	font-size: 1.3em;
	margin-bottom:0.4em;
	color: #444;
	text-shadow: white 0px 1px 2px;
}

#landing h4{
	text-shadow: white 0px 1px 2px;
	margin-bottom:0.7em;
	font-size:1em;
	color:#666;
}

#landing input#channel {
	margin-left: auto;
	margin-right: auto;
	border:2px solid #aaa;
	-vendor-border-radius:5px;
	-vendor-box-shadow: white 0px 0px 2px;
	color:#444;
	font-size: 1.2em;
	width: 230px;	
	display: block;
	float:left;
	padding: 7px;
	background:#f7f7f7;
}


#landing input.submit {
	font-size: 1.1em;
	margin: 0.5em 0 1em 0.5em;
	padding: 2px 7px 2px 7px;
}

#landing table.room_list {
	font-size:1em;
	width:95%;
	margin:0.2em auto;
}

#landing table.room_list td{
	text-align:left;
	width:95%;
}

#landing table.room_list td.count{
	color:#888;
	text-align:right;
	padding-right:0.5em;
	width:5%;
}

/* New layout */
#slide_buttons{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	width:220px;
	text-shadow:#fff 0 1px 0;
	border-right:3px solid #fff;
}

#slide_buttons a{
	text-align:right;
	display:block;
	padding:25px 17px 25px 10px;
}

#slide_buttons a.selected{
	border-right: solid 7px #fff;
	padding-right:10px;
}

#landing .slides {
	height:550px;
	position:relative;
	overflow:hidden;
	margin-left:223px;
	max-width:968px;
}

#landing .slide{
	position:absolute;
	left:-100%;
	top:0;
	width:90%;
	-webkit-transition:left 0.75s ease-in-out;
}

#landing .contents{
	margin:0 auto;
	padding:0 30px 0 30px;
}

#landing .slide.future{
	left:100%;
}
#landing .slide.current{
	left:0;
}


#landing .plainpage a{
	color:#444;
}

#landing .plainpage{
	width:auto;
	border-radius:0;
	margin:0 0 20px 0;
	text-align:left;
	padding:20px 0px;
	background: #eee;
	background: -moz-linear-gradient(top, #dbdbdb 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dbdbdb 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dbdbdb 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #dbdbdb 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DBDBDB', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #dbdbdb 0%,#ffffff 100%); /* W3C */
}

#landing .container{
	margin:0 auto;
	position:relative;
}

#powered_by{
	font-size:12px;
	margin-bottom:15px;
}

#landing h4.space{
	margin-top:15px;
}

#code{
	position:relative;
	margin:0px 15px;
	padding:10px;
	font-size:12px;
	font-family:Consolas, "Courier New", monospace;
	text-align:left;
	color:#444;
	border:1px solid #aaa;
	background:white;
}

#embed_form{
	margin-left:15px;
	font-size:12px;
}

#embed_form input{
	margin-right:10px;
}

#embed_form > #height,
#embed_form > #width{
	width:40px;	
}

#embed_form > #color{
	width:70px;
}

#embed_form > #room_name{
	width:150px;
}

#landing .embed{
	position:relative;
	height:250px;
	margin-right:15px;
	padding-bottom: 10px;
}

#landing .hide{
	display:none;
}

#landing .container > div{
	margin-top: 0;
}

#landing .bubble {
	position:relative;
	text-align:center;
	-vendor-border-radius:30px;
	padding:30px;
}

#landing .bubble h3,
#landing .bubble h4{
	color:white;
	text-shadow:black 0 1px 2px;
}

/* Chat Tails */
#landing .tail {
	clear:both;
	position:relative;
	background:30px 0px no-repeat data-url(/images/structure/black_tail.png);
	width:100%;
	height:40px;
}
