.profile{
	margin:20px auto;
	padding:20px;
	text-align:left;
	color:black;
}

.profile #name{
	font-size:2em;
	color:black;
}

.profile .providers{
	margin-top:30px;
	font-size:1.2em;
}

.profile .providers > .title{
	font-size:1.2em;
	padding:0.3em;
	border-bottom:2px solid #ddd;
	margin-bottom:0.5em;
}

.profile,
.profile .provider{
	-vendor-border-radius:20px;
}
.provider{
	margin-right:10px;
	float:left;
	text-align:center;
	-vendor-transition:background-color 0.3s ease;
}

.provider:hover{
	background-color:rgba(0,0,0,0.1);
}

.provider a.link{
	color:black;
	text-decoration:none;
	padding:15px;
	display:block;
}

.provider .logo{
	background-position:center;
	background-repeat:no-repeat;
	width:128px;
	height:128px;
	margin:0 auto;
}

.provider.missing{
	opacity:0.3;
}

.logo.google{
	background-image:url(/images/external/google_128.png);
}
.logo.facebook{
	background-image:url(/images/external/facebook_128.png);
}
.logo.github{
	background-image:url(/images/external/github_128.png);
}
