.buffer{
	padding:20px;
}

.profile{
	margin:0px auto 30px auto;
	padding:20px;
	text-align:left;
	color:black;
}

.profile #name{
	font-size:2em;
	color:black;
}

.profile .providers{
	margin-top:30px;
	font-size:1.2em;
}

.profile .providers > .title{
	font-size:1.2em;
	padding:0.3em;
	border-bottom:2px solid #ddd;
	margin-bottom:0.5em;
}

.profile,
.profile .provider{
	-vendor-border-radius:10px;
}
.provider{
	margin-right:10px;
	float:left;
	text-align:center;
	-vendor-transition: 0.3s ease;
	transition-property:background-color opacity;
}

.provider:hover{
	background-color:#f3f3f3;
}

.provider a.link{
	color:black;
	text-decoration:none;
	padding:15px;
	display:block;
}

.provider .logo{
	background-position:center;
	background-repeat:no-repeat;
	width:128px;
	height:128px;
	margin:0 auto;
}

.provider.missing{
	-vendor-box-shadow: rgb(100,100,100) 0 0 10px;
	opacity:0.3;
}
.provider.missing .title{
	color:black;
}

.provider.missing:hover{
	opacity:1;
	background-color:white;
}

.logo.missing{
	font-size:110px;
	color:#fff;
	text-shadow: rgb(0,0,0) 0 0 15px;
}
.logo.google{
	background-image:url(/images/external/google_128.png);
}
.logo.facebook{
	background-image:url(/images/external/facebook_128.png);
}
.logo.github{
	background-image:url(/images/external/github_128.png);
}
