.main{
	padding:0px;
}

#search #top{
	min-height:34px;
}

#search #container{
	background:#fff;
	color:#444;
	padding:0.5em 1em;
	border:2px solid #F6AA84;
	border-left:none;
	border-right:none;
}

#search_bar,
#results{
	padding:5px 0;
	font-size:16px;
	color:#444;
}
#results{
	padding-left:5px;
	color: #999;
}

#results .count{
	text-align:right;
	padding-right:10px;
}

.query{
	padding:3px 25px 3px 6px;
	border-radius:5px;
	border:3px solid #EF6F2F;
	width:300px;
	font-size:16px;
	color:#444;
	background-color:#fff;
}

#results a{
	color:#26D;
}

#options {
	margin:.6em .3em;
}

#options a{
	display:inline-block;
	height:20px;
	width:24px;
	padding:4px 2px 2px 2px;
	margin-right:10px;
	background:#EF6F2F;
	
	text-align:center;
	border-radius:3px;
	color:white;
	cursor:pointer;
	text-decoration:none;
	font-weight:bold;
	opacity:.55;
}

#options a.selected{
	opacity:1;
}
#options a.selected:hover{
	opacity:1;
}

#options a:hover{
	opacity:0.7;
}
