.main{
	padding:0px;
}

#search #top{
	min-height:34px;
}

#search #container{
	background:#fff;
	color:#444;
	padding:0.5em 1em;
	border:2px solid #F6AA84;
	border-left:none;
	border-right:none;
}

#search_bar,
#results{
	padding:5px 0;
	font-size:16px;
	color:#444;
}
#results{
	padding-left:5px;
	color: #999;
}

#search .query.top{
	display:none;
}

.query{
	padding:3px 25px 3px 6px;
	border-radius:5px;
	border:3px solid #EF6F2F;
	width:300px;
	font-size:16px;
	color:#444;
	background:#fff right center no-repeat data-url(/images/icons/search_orange.png);
}

#results a{
	color:#26D;
}
