#user_list{
	position:fixed;
	right:0px;
	top:40px;
	bottom:5.4em;
	width:180px;
	min-height: 110px;
	background-color:#fff;
	border-left:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	font-weight: bold;	
}

#user_list .users{
	overflow-x:hidden;
	overflow-y:auto;
	white-space:nowrap;
	position:absolute;
	bottom:0px;
	top:2em;
	left:0px;
	right:0px;
}

#user_list .title{
	text-align:center;
	padding:2px;
	color:#000;
	border-bottom:solid 1px #ccc;
	background-color:#eee;
	font-size: 1.1em;
}

#user_list .user{
	padding:4px 10px 1px 10px;	
}
