h3 Peak Connections
script(type="text/javascript", src="https://www.google.com/jsapi")
script(type="text/javascript")
	var stats = !{JSON.stringify(w.stats)};
	google.load("visualization", "1", {packages:["corechart", "table"]});
	var callbacks=2;
	function waitForBoth(){
		if(--callbacks == 0) initCharts();
	}
	google.setOnLoadCallback(waitForBoth());
h4 Per Hour - Last 24 Hours
#chart_hourly
h4 Per Day - Last 30 Days
#chart_daily
!{assetHelpers.assetGroupTag('analytics', w.user && w.user.doc)}