h3 Accounts
table
	tr
		th Name
		th Current Connections
	- each account in w.accounts
		tr
			td
				a(href='/accounts/' + account.name) #{account.name}
			td #{account.channelManager ? account.channelManager.clients.count : "(namespace not loaded)"}
h3 Actions
a(href='/accounts/new') Create Account