h3 Accounts
table
	tr
		th Name
		th Peak Connections
		th Current Connections
	- each account in w.accounts
		tr
			td
				a(href='/accounts/' + account.name) #{account.name}
			td #{account.channelManager.clientStats.max}
			td #{account.channelManager.clients.count}
h3 Actions
a(href='/accounts/new') Create Account