form#new_account(action='/accounts', method='POST')
   h2 Create an Account &nbsp;
   p Create a private chat namespace with as many chat rooms as you need.
   p
      | With secure SSO, your visitors don't even have to sign in, you can use
      | your own login authentication.

   h2.break Lets do this!
   label(for='name') http://wompt.com/accounts/
   input#name(name='name')
   button.minimal(type='submit') Create Account
