.title
	h2 #{w.account.name}
table.vertical
	tr
		th Peak Connections (today)
		td #{w.namespace.clientStats.max}
	tr
		th Secret
		td.code #{w.account.secret}
			a(id='reset_secret', href='#') Reset Secret
	tr
		th Base Url
		td.code http://wompt.com/#{w.account.name}/
