div {
	margin:0px;
	padding:0px;
}

body{
	background: #eee;
	background: url(/noisy_grey.gif) repeat;
	color: #000;
	font-family: helvetica, arial, freesans, clean, sans-serif;
	font-size:1em;
	margin: 0px;
	min-height: 100%;
}

a{
	color:#286ea0;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}



h2{
	font-size:1.6em;
	margin:0 0 12px;
	padding:0;
}

h3{
	font-size:1.3em;
	margin:0 0 10px;
	padding:0;}

.line .name {
	float:left;
	padding-right: 10px;
	color: #bbb;
}

.clear{ clear:both; }

#top{
	background:url(top_back.png) repeat-x top left;
	height:45px;
	padding:5px;
	position:fixed;
	top:0px;
	right:0px;
	left:0px;
}

#toplinks {
	float:right;
	margin:5px 15px 0 0;
	text-align:right;
	color:#e94;
	font-size:0.9em;
}

#toplinks a{
	color:#ffcbb1;
	color:white;
}

#logo{
	float: left;
	margin-right:20px;
	color: rgba(255,255,255,0.8);
	font-size:1.3em;
	font-weight:700;
}

#logo a{
	text-decoration:none;
	color: rgba(255,255,255,0.5);	
}

#logo a img{
	border:0;
	vertical-align: middle;
	margin-right:10px;
}

#logo.center{
	width:200px;
	margin: 50px auto 50px auto;
}

/* compensate for off-center logo */
#logo.center img{
	margin-left:10px;
}

#top .room_name{
	font-size: 1.3em;
}

.main {
	margin-top:45px;	
}

#leftbar {
	width: 230px;
	margin: 0 0;
	float:left;
}

#indexmain {
	width: 300px;
	margin: 20px auto 50px auto;
	text-align:center;
}

#indexmain label {
	color: #000000;
	display: block;
	font-size: 1.4em;
	padding-top: .7em;
}

#indexmain input[type=text] {
	border: 1px solid #777;
	display: block;
	font-size: 1.3em;
	padding: 4px 0px;
	width: 100%;
}

#indexmain input[type=submit] {
	font-size: 1.1em;
	margin: 10px;
	margin: 1em 0;
	padding: 2px 10px 2px 10px;
}

/* ---  Chat Page ---*/
.main #input{
	position:fixed;
	bottom:0px;
	left:0px;
	right:0px;
	border-top: solid 1px #b63f1b;
	background-color:#ef6f2f;
	height:3em;
}

.main #input .container{
}

.main #input #message{
	position:absolute;
	border:1px solid #000;
	color: #300;
	padding: 0px 5px;
	right:0.2em;
	left:0.2em;
	bottom:0.2em;
	top:0.2em;
	font-size:1.5em;
}

.main #messages{
	padding-bottom:50px;
	margin-right:100px;
}

#formmain {
	float: left;
	margin: 0 0 10px 15px;
	padding: 0;
	width: 650px;
}

#formmain h2.border {
	border-bottom: 1px solid #ccc;
	font-size: 1.6em;
	margin: 0 0 12px;
	padding: 0;
}

#formmain label {
	color: #000000;
	display: block;
	font-size: 1.4em;
	padding-top: .7em;
}

#formmain input[type=text],
#formmain input[type=password] {
	border: 1px solid #777;
	display: block;
	font-size: 1.3em;
	padding: 4px 0px;
	width: 100%;
}

#formmain input[type=submit] {
	font-size: 1.1em;
	margin: 1em 0;
	padding: 2px 10px 2px 10px;
}

#formmain textarea {
	display: block;
	height: 12em;
	padding: 4px 2px;
	width: 100%;
}

/* === Footer === */
#footer {
	border-top: solid 1px #e6e6e6;
	border-bottom: solid 1px #f0f0f0;
	width: 100%;
	margin-top:20px;
	font-size: 0.9em;
	font-weight: 700;
	background: rgba(230,230,230,0.2);
	color: #555;
	padding: 15px 0px;
	text-align: center;
}

#footer a {
	color: #555;
}
