*{
	margin:0;
	padding:0;
}

body{
	font-family: arial;
	background: #eee;
	background: url(/noisy_grey.gif) repeat;
	color: #000;
	font-family: tahoma, verdana, sans-serif;
	margin-top:10px
}

a{
	color:#286ea0;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:0;
}

h2{
	font-size:1.6em;
	margin:0 0 12px;
	padding:0;
}

h3{
	font-size:1.3em;
	margin:0 0 10px;
	padding:0;}

.line .name {
	float:left;
	padding-right: 10px;
	color: #bbb;
}

#toplinks {
	float:right;
	margin:0 15px 0 0;
}

#toplinks p {
	text-align:right;
}

#logo.top_left {
	width: 200px;
	margin: 0 0;
}

#logo.center{
	width:200px;
	margin: 50px auto 50px auto;
}


#leftbar {
	width: 230px;
	margin: 0 0;
	float:left;
}

#indexmain {
	width: 300px;
	margin: 20px auto 50px auto;
	text-align:center;
}

#indexmain label {
	color: #000000;
	display: block;
	font-size: 1.4em;
	padding-top: .7em;
}

#indexmain input[type=text] {
	border: 1px solid #777;
	display: block;
	font-size: 1.3em;
	padding: 4px 0px;
	width: 100%;
}

#indexmain input[type=submit] {
	font-size: 1.1em;
	margin: 10px;
	margin: 1em 0;
	padding: 2px 10px 2px 10px;
}



#formmain {
	float: left;
	margin: 0 0 10px 15px;
	padding: 0;
	width: 650px;
}

#formmain h2.border {
	border-bottom: 1px solid #ccc;
	font-size: 1.6em;
	margin: 0 0 12px;
	padding: 0;
}

#formmain label {
	color: #000000;
	display: block;
	font-size: 1.4em;
	padding-top: .7em;
}

#formmain input[type=text],
#formmain input[type=password] {
	border: 1px solid #777;
	display: block;
	font-size: 1.3em;
	padding: 4px 0px;
	width: 100%;
}

#formmain input[type=submit] {
	font-size: 1.1em;
	margin: 1em 0;
	padding: 2px 10px 2px 10px;
}

#formmain textarea {
	display: block;
	height: 12em;
	padding: 4px 2px;
	width: 100%;
}

/* === Footer === */
#footer {
	background: #555;
	clear: both;
	color: #eee;
	margin: 10px 0 0;
	padding: 15px;
	text-align: center;
}

#footer a {
	color: #eee;
}

#footer p {
	font-size: 0.9em;
	font-weight: 700;
	margin: 0;
}

