!!!
%html
	%head
		:javascript
			if(window.opener) {
				window.opener.location.reload(true);
				window.close()
			} else {
				window.location.href="#{to}";
			}
	%body
		Signing you in to Wompt.com