:javascript
	| var channel     = '#{w.channel}',
	|     session_id  = '#{w.session_id}';
#user_list
	.title Users
#messages
.clear
#input
	.container
		input#message(name='message', type='text', disabled='true')
