:javascript
	| var channel     = '#{w.channel}',
	|     connector_id  = '#{w.connector_id}';
#user_list
	.title Users
	.users
#messages
.clear
#input
	.container
		input#message(name='message', type='text', disabled='true')
