:javascript
	| var channel     = '#{w.channel}',
	|     connector_id  = '#{w.connector_id}',
	|     WOMPT = #{JSON.stringify(w.config.constants)};
#user_list
	.title Users
	.users
!= partial('_twitter', {locals: {w:w}})
#messages
	table#message_list
#input
	.name#own_name #{w.user.doc ? w.user.doc.name : "Anonymous"}
	.container
		input#message(name='message', type='text', disabled='true')
