#landing
	.channel_selector
		h1.title Wompt is Group Chat
		.subtitle #{w.subtitle}
		form(method='post')
			input.text.big.inline_label#channel(name='channel', title="Chat topic", type='text')
			input.submit#join(type='submit', value="Join Chat Channel")
	.clear
