.full.wompt
	.company Wompt
	.w
	.sub is&nbsp;chat
.container
	.grid6.first
		.bubble.black_fade
			h3 Visit any room or create a new one
			h4 Name chat rooms anything you like
			form(method='post')
				input#channel(name='channel', type='text', placeholder="Enter a topic")
				input.submit#join(type='submit', value="Join Chat Room")
		.tail
	.grid6
		.bubble.black_fade
			h3 Private rooms for sensitive discussions
			h4 Email the link, or use the Facebook Send button
			form(method='get', action='/unlisted/new')
				span.submit Go to a
				input.submit#join(type='submit', value="Private Room")
		.tail
.plainpage.clear
	.container
		.slides.clear
			.slide.current
				.contents
					h3 Easily add chat to any web page for free!
					h4 Your content inspires discussion, give it an outlet.
					#chat.embed.small.hide_userlist
						!= partial('chat')
					a#powered_by(href='http://wompt.com') Chat Powered by Wompt
					h4.space Embed code
					#embed_form
						label(for='room_name') Room Name:
						input#room_name(type='text',value='whatever you want', title='Room name')
						label(for='color') Text Color:
						input#color(type='text',value='444444', title='Color in hex')
						label(for='height') Height:
						input#height(type='text',value='500px', title='Height')
						label(for='width') Width:
						input#width(type='text',value='100%', title='Width')
						h4 HTML
						#code.output
			.slide.future
				.contents
					h3 You can sign in with Google, facebook, Github, or Twitter
					h4 No new usernames or passwords to memorize
					- each provider in w.config.auth.providers
						a(href='/auth/' + provider.code, class='popup', title="Sign in with " + provider.name)
							img(src='/s/images/external/'+provider.code+'_128.png')
		#slide_buttons
			a Add chat to your web site
			a No registration required
	.clear
