.full.wompt
	.company Wompt
	.w
	.sub is&nbsp;chat
.container
	.grid6.first
		.bubble.black_fade
			h3 Visit any room or create a new one
			h4 Name chat rooms anything you like
			form(method='post')
				input#channel(name='channel', type='text', placeholder="Enter a topic")
				input.submit#join(type='submit', value="Join Chat Room")
			h4.hide Popular rooms
			table.room_list.hide
				- each chan in w.app.popular_channels.sorted_list
					tr
						td.count= chan.clients.userCount
						td
							a(href="/chat/" + chan.name)= chan.name.substring(0,30)
		.tail
	.grid6
		.bubble.black_fade
			h3 Private rooms for sensitive discussions
			h4 Email the link, or use the Facebook Send button
			form(method='get', action='/unlisted/new')
				span.submit Go to a
				input.submit#join(type='submit', value="Private Room")
		.tail
.plainpage.clear
	.container
		.slides.clear
			.slide.current
				.contents
					h3 Like Disqus?  Want Real time?
					h4 Easily add chat to any web page for free!
					.embed#chat
						a.popout(href=w.popout, title="Open this chat room in a new tab")		
						!= partial('chat')
					h4 Embed code
					#embed_form
						| Room Name:
						input#room_name(type='text',value='whatever you want', title='Room name')
						| Text Color:
						input#color(type='text',value='444444', title='Color in hex')
						| Height:
						input#height(type='text',value='500', title='Height')
						| Width:
						input#width(type='text',value='100%', title='Width')
					h4 HTML
					#code
			.slide.future
				.contents
					h3 You can sign in with Google, facebook, or Github
					h4 No new usernames or passwords to memorize
					- each provider in w.config.auth.providers
						a(href='/auth/' + provider.code, class='popup', title="Sign in with #{provider.name}")
							img(src='/images/external/'+provider.code+'_128.png')
		#slide_buttons
			a Add chat to your web site
			a No registration required
	.clear
