#landing
	.channel_selector
		h2 Wompt is Chat
		.subtitle #{w.subtitle}
		form(method='post')
			input.text.big#channel(name='channel', type='text')
			input.submit#join(type='submit', value="Join Chat Channel")
	.clear
