.container
	.full.wompt
		.name Wompt
		.w
		.sub is&nbsp;chat
	.group
		.cell.first
			.private_chat
				h1.title Private Chat
				.subtitle chat securely with anyone
				form(method='get', action='/unlisted/new')
					input.submit#join(type='submit', value="Create Private Room")
		.narrow_tail
		.cell
			.channel_selector
				.right_back.back
				.left_back.back
				h1.title Public Chat
				.subtitle !{w.subtitle}
				form(method='post')
					input.text.big.inline_label#channel(name='channel', title="Chat topic", type='text', placeholder="Enter a topic")
					input.submit#join(type='submit', value="Join Chat Room")
		.clear.narrow_tail
	.wide_tail
	.group
		.cell.first
			.channel_list
				h1 Popular Rooms
				table.room_list
					- each chan in w.app.popular_channels.sorted_list
						tr
							td
								a(href="/chat/" + chan.name)= chan.name.substring(0,20)
							td.count= chan.clients.userCount
		.clear.narrow_tail
	.wide_tail
	.clear
	