link(href="/css/profile_"+cacheTimeStamps.profile_css+".css", rel="stylesheet", type="text/css", media="screen")
.buffer
	.profile.plainpage
		#name= w.profileUser.name
		.providers
			.title Public Profiles
			- var missing_providers = [];
			- each provider in ['google', 'facebook', 'github']
				- var auth = w.profileUser.authentication_for(provider)
				- if(auth)
					.provider
						- var url = w.profileUser.provider_attribute(provider, 'profile')
						a.link(href=(url||'#'))
							.title= provider
							div(class="logo " + provider)
				- else missing_providers.push(provider)
			-if(w.user.same_user(w.profileUser))
				- each provider in missing_providers
					.provider.missing
						a.link(href='/auth/' + provider, class='popout')
							.title= provider
							div(class="logo missing " + provider) ?
			.clear
