link(href="/css/profile_"+cacheTimeStamps.profile_css+".css", rel="stylesheet", type="text/css", media="screen")
.profile
	#name= w.profileUser.name
	.providers
		- each provider in ['google', 'facebook', 'github']
			- var auth = w.profileUser.authentication_for(provider)
			- if(auth)
				.provider
					- var url = w.profileUser.provider_attribute(provider, 'profile')
					a.link(href=url)
						.title= provider
						div(class="logo " + provider)
			- else if(false /* this is my profile page */)
				.provider.missing
					a.link(href='/auth/google', class='popup')
						.title= "add: " + provider
						div(class="logo " + provider)						
		.clear
