link(href="/css/profile_"+cacheTimeStamps.profile_css+".css", rel="stylesheet", type="text/css", media="screen")
.buffer
	.profile.plainpage
		#name= w.profileUser.name
		.providers
			.title Public Profiles
			- var missing_providers = [];
			- each provider in w.config.auth.providers
				- var auth = w.profileUser.authentication_for(provider.code)
				- if(auth)
					.provider(id='provider_' + provider.code)
						- var url = w.profileUser.provider_attribute(provider.code, 'profile')
						a.link(href=(url||'#'))
							.title= provider.name
							div(class="logo " + provider.code)
						- var name = w.profileUser.provider_attribute(provider.code, 'name')
						.known_as known as
						.known_as_name #{name || '(no name)'}
						- if(name && name.length > 2)
							button.minimal.choose_name use this name
				- else missing_providers.push(provider)
			-if(w.user.same_user(w.profileUser))
				- each provider in missing_providers
					.provider.missing
						a.link(href='/auth/' + provider.code, class='popup', title="Link your " + provider.name + " account")
							.title= provider.name
							div(class="logo missing " + provider.code) ?
			.clear
