script
	var initialResults = !{w.resultsJSON};
#container
	#search_bar
		// Use the class for styling and the id for identification
		// wompt_ prefix ensures uniqueness for browser auto form fill
		input#wompt_search.query(type='text', value=w.query)
	#results
		h3#results_title
		#options
			a#numeric.selected 1
			a#alpha A
		table#list
