#share_links
	.pad
		| Share:
		<a id='twitter-share' class='ico tw' href="http://twitter.com/share?text=I'm chatting right now on Wompt. Come join me!&via=WomptChat&related=abtinf:Co-Founder of Wompt"></a>
		<a id='fb-share' class='ico fa' href='#'></a>
	