#twitter_bar
	.title Around The Web
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
	script(type='text/javascript')
		new TWTR.Widget({
			version: 2,
			type: 'search',
			search: '#{w.channel}',
			interval: 6000,
			subject: '',
			width: 200,
			height: 1000,
			theme: {
				shell: {
					background: '#eeeeee',
					color: '#777777'
				},
				tweets: {
					background: '#ffffff',
					color: '#777777',
					links: '#1985b5'
				}
			},
			features: {
				scrollbar: false,
				loop: true,
				live: true,
				hashtags: true,
				timestamp: true,
				avatars: false,
				toptweets: true,
				behavior: 'default'
			}
		}).render().start();
