iframe(src=w.url_for_embed, style='width:50%;height:600px;')
form(method='get')
	input(type='text', name='user_name', value='Test User')
	input(type='text', name='user_id', value='test_user')
	input(type='submit', value='Submit')
