!!!
html
	head
		title Wompt Group Chat - Admin
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js", type="text/javascript", defer='true')
		link(href=assets.path("/favicon.ico"), rel="shortcut icon", type="image/x-icon")
		link(href=assets.path("/apple-itouch-icon.png"), rel="apple-touch-icon")
		meta(name="author", content="Wompt, Inc.")
	body
		!{body}
