#leftbar
	&nbsp;
#formmain
	h2 Sign Up
	form(method='post')
		p
			label Name
				input(name='name', type='text')
		p
			label Email
				input(name="email", type='text')
		p
			label Password
			input(name="password", type="password")
		input(type='submit')
