#leftbar
	&nbsp;
#formmain
	h2 Sign In
	form(method='post')
		p
			label Username or Email
				input(name='name', type='text')
		p
			label Password
				input(name="password", type="password")
		p
			input(type='submit')

