#embed_form
	label(for='room_name') Room Name:
	input#room_name(type='text',value='whatever you want', title='Room name')
	label(for='color') Text Color:
	input#color(type='text',value='444444', title='Color in hex')
	label(for='height') Height:
	input#height(type='text',value='500px', title='Height')
	label(for='width') Width:
	input#width(type='text',value='100%', title='Width')
	h4 HTML
	#code.output.input-style
