- if(w.config.ga.use && !w.disable_ga && !(w.user && w.user.doc && w.user.doc.is_admin()))
	script(type='text/javascript')
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-19794419-1']);
		_gaq.push(['_trackPageview']);
		_gaq.push(['_setCustomVar',	1, 'user_source',	'#{w.ga_source || 'wompt'}', 1]);		
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
