#name_requestor
	h3.title Your Name
	.rest
		p What do you want to be called? (choose wisely)
		input(type='text', id='new_name', length=40, placeholder="enter your name")
	.buttons
		button#done Save
		button#cancel Cancel
script(type='text/javascript', src='/js/popup/name_requester.js')